$main-color: #517dc7;
$width: 820px;

html {
    font-size: 15px;
}

body {
    font-family: "Avenir Next","Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

    color: #363636;
}

a {
    text-decoration: none;

    color: $main-color;
}


pre, code {
    font-family: Menlo, Monaco, Courier;
}

pre {
    overflow-x: auto;

    padding: 1rem;

    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background: #eaeef3;

    code {
        padding: 0;
        margin: 0;
    }
}

code {
    font-size: .8rem;
    font-weight: normal;

    padding: .25rem .5rem;
    margin: 0 .25rem;

    color: $main-color;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #eaeef3;
}

.container {
    max-width: $width;
    margin-left: 100px;
}

.header {
    padding: 2.5rem 0;

    position: relative;

    border-bottom: 1px solid #e1e1e1;

    &__link {
        position: absolute;
        left: .5rem;
        top: .5rem;

        text-decoration: underline;
    }

    &__title {
        font-size: 2rem;
        font-weight: 400;

        margin: 0 0 .25rem;
    }

    &__date {
        position: absolute;
        color: #888;
        font-size: 1rem;
    }
}

.content {
    padding: 2rem 0;
}

.article-content {
    a {
        transition: border-color .3s ease;

        border-bottom: 1px solid #b3c1c7;

        &:hover {
            border-color: $main-color;
        }
    }

    img {
        max-width: 100%;

        border-radius: 5px;
    }

    blockquote {
        position: relative;

        margin: 0;

        color: #495c65;
        border-radius: 5px;
        background-color: #eaeef3;

        &:before {
            font-family: "Times New Roman";
            font-size: 35px;
            font-weight: bold;

            position: absolute;
            top: -5px;
            left: 10px;

            content: "“";

            color: #b3c1c7;
        }

        p {
            margin: 0;
            padding: 15px 5%;
        }
    }

    h2, h3, h4, h5 {
        font-weight: 400;
        line-height: 1.125;

        color: #363636;
    }

    h2 {
        font-size: 1.75rem;

        margin: 2rem 0 .9rem;
    }

    h3 {
        font-size: 1.5rem;

        margin-top: 2rem;
        margin-bottom: .9rem;
    }

    h4 {
        font-size: 1.25rem;

        margin-bottom: 1rem;
    }

    h5 {
        font-size: 1.125rem;

        margin-bottom: 1.1rem;
    }

    p {
        line-height: 1.65rem;

        margin: 0 0 1rem;

        color: #4a4a4a;
    }

    li {
        line-height: 1.65rem;
    }

    &__social {
        margin-top: 1.5rem;
    }
}

.article-footer {
    padding: 2rem 0;

    border-top: 1px solid #eee;;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__author {
        display: flex;
        align-items: center;

        margin-right: auto;
    }

    &__avatar {
        width: 32px;
        height: 32px;
        margin: 0 1rem 0 0;

        border-radius: 50%;
        box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
    }

    &__bio {
        font-size: .8rem;

        margin-left: .6rem;

        color: #aaa;
    }

    &__links {
        display: flex;

        margin: 0;
        padding: 0;
    }

    &__item {
        list-style-type: none;

        & + & {
            margin-left: 1rem;
        }
    }
}

.articles {
    margin: 0;
    padding: 0;

    &__item {
        display: flex;

        padding: 12px 0;

        list-style-type: none;
    }

    &__link {
        transition: color .2s ease;

        &:hover {
            color: $main-color;
        }
    }

    &__title {
        font-size: 1.2rem;
    }

    &__date {
        margin-left: auto;

        color: #aaa;
    }
}

@media screen and (max-width: $width + 40) {
    .container {
        margin-left: 0;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .articles {
        &__item {
            flex-direction: column;
        }
        &__title {
            font-size: 1rem;
        }
        &__date {
            margin-left: 0;
        }
    }
    .article-content {
        ul {
            padding-left: 1rem;
        }
    }
    .article-meta {
        &__author {
            margin-right: 0;
        }
        &__bio {
            margin-left: 1rem;
        }
        &__inner {
            flex-direction: column;
        }
        &__links {
            margin-top: 1.5rem;
        }
    }
}
